@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

G&F

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #f16121;
$secondary_color: #5d5d5d;
$tertiary_color: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.line {
		height: 5px;
		background-color: $primary_color;
	}
	.custom_t1 {
		padding: {
			top: 10px;
			bottom: 10px;
		}
	}
	.moduletable_t2 {
		ul.menu_main {
			margin: 0;
			padding: 0;
			li {
				padding: 0 15px;
				background: {
					image: url(menu_main_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				list-style: none;
				display: inline-block;
				&:last-child {
					background: none;
				}
				&.active {
					a {
						background-color: $primary_color;
						color: #fff;
					}
				}
				a {
					padding: 2px 5px;
					color: $secondary_color;
					text-transform: uppercase;
					&:hover {
						background-color: $primary_color;
						color: #fff;
					}
				}
			}
		}
	}
	ul.dj-megamenu {
		height: inherit;
		background: transparent;
		li {
			padding: 0 12px !important;
			background: {
				image: url(menu_main_li_bg.png);
				position: right;
				repeat: no-repeat;
			}
			&.active,
			&.hover {
				a {
					background: transparent;
					background-color: $primary_color;
					color: #fff;
				}
			}
			a {
				height: inherit;
				padding: 2px 5px;
				border: none;
				color: $secondary_color;
				&:hover {
					background: transparent;
					background-color: $primary_color;
					color: #fff;
				}
				span {
					height: inherit;
					line-height: inherit;
					em.arrow {
						top: 0;
					}
				}
			}
			.dj-subwrap {
				background-color: #fff;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		margin: 10px 0;
		.favslider {
			margin: 0;
		}
	}
}

/* Welcome */

.welcome {
	.moduletable_we1 {
		margin-bottom: 10px;
		p {
			margin: 0;
			font-size: 14px;
		}
	}
}

/* Search */

.search {
	padding: 10px 0;
	background-color: $tertiary_color;
	.moduletable_se1 {
		margin: 0 30px;
		padding: 10px;
		background-color: #fff;
		h3 {
			margin: 0;
			padding: 5px;
			background-color: $primary_color;
			font-size: 14px;
			color: #fff;
			text-align: center;
		}
		input {
			&[type='text'] {
				height: inherit;
				margin: 0;
				padding: 10px;
				background-color: #eee;
				border: 0;
				font-size: 12px;
				color: $primary_color;
			}
		}
		select {
			width: 100%;
			margin: 0;
			background-color: #eee;
			border: 0;
			font-size: 12px;
			color: $primary_color;
		}
		.button {
			margin: 0;
			background-color: $primary_color;
			font-size: 12px;
		}
		.box_1 {
			margin-bottom: 10px;
		}
		.box_2 {
			label {
				margin-right: 10px;
				font-size: 12px;
				color: $primary_color;
			}
		}
	}
}

/* Home */

.home {
	padding: 10px 0;
	.moduletable_ho1 {
		width: 100%;
		h3 {
			width: 200px;
			margin: auto;
			padding: 5px;
			background-color: $secondary_color;
			font-size: 14px;
			color: #fff;
			text: {
				align: center;
				transform: uppercase;
			}
		}
		.mod-jea-emphasis-container {
			padding: 10px 0;
			.columns {
				dl.mod-jea-emphasis_ho1 {
					padding: 10px 0;
					background-color: #e3e3e3;
					text-align: center;
					dt {
						a {
							color: #000;
						}
					}
					dd {
						a.button {
							margin-top: 10px;
							padding: 5px;
							background-color: $primary_color;
							text-transform: lowercase;
						}
					}
				}
			}
		}
	}
}

/* Component */

.component {
	margin: 10px 0;
	.blog {
		padding: 10px;
		border: 1px solid $tertiary_color;
		h2 {
			font-size: 14px;
			color: $primary_color;
		}
		.box_1 {
			padding: 20px;
		}
		.box_2 {
			padding: 20px;
			background-color: $tertiary_color;
		}
	}
}

/* Logo */

.logo {
	margin: 10px 0;
	.moduletable_lo1 {
		h3 {
			margin: 0;
			margin-left: 100px;
			padding: 10px;
			background-color: $secondary_color;
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			float: left;
			position: relative;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.custom_bo1 {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
			&.button {
				margin: 10px 0;
				background-color: $primary_color;
			}
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 10px;
	background-color: $secondary_color;
	.copyright {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform {
	h2 {
		font-size: 14px;
		color: $primary_color;
	}
	.button {
		background-color: $primary_color;
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.dj-megamenu-accordion {
			.dj-mobile-open-btn {
				background: #fff;
				color: $primary_color;
			}
			.dj-accordion {
				.dj-accordion-in {
					background: transparent;
					ul.dj-mobile-nav {
						margin: 0;
						li {
							&.current {
								a {
									background-color: $primary_color;
									color: #fff;
								}
							}
							a {
								padding: 10px;
								background: transparent;
								border: none;
								span.toggler {
									padding: 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	/* Search */

	.search {
		.moduletable_se1 {
			.button {
				margin: 10px 0;
			}
		}
	}

	/* Logo */

	.logo {
		.moduletable_lo1 {
			h3 {
				margin-left: 10px;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}